article{
    background-color:rgb(204, 232, 251);
}

h3{
    color: rgb(0, 0, 0);
    background-color: rgb(198, 189, 251);
}


.homebtn {
    background-color: rgb(192, 198, 231);
    color: rgb(52, 54, 74);
    font-size: 16px;
    border: double;
    width: 80px;
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  .p{
    color: rgb(83, 60, 25);
    font-style: oblique;
  }
  .g{
    color: rgb(83, 60, 25);
    font-size: 20px;
    font-style: oblique;
    
    
  }
  
 

